= javascript_pack_tag "message_page"
= stylesheet_pack_tag "message_page"
#js-message{ data: render(partial: 'show.json.jbuilder', locals: { message: @message, replies: @message.replies.order('created_at desc'), tips: @message.tips }) }

.row.mt-3
  .d-none.d-md-block{class: @message.article? ? 'col-md-2' : 'col-md-3'}

  .col-xs-12{class: @message.article? ? 'col-md-8' : 'col-md-6'}
    .space3
    %hr
    .space3

    %h4 Batches:

    - @batches.each do |batch|

      %hr.mt-3.mb-3

      %h6= "Batch ##{batch.id}"

      %dl.row.small
        %dt.col-5 Status
        %dd.col-7
          - if batch.batched?
            Waiting to be sent to Ethereum
          - elsif batch.uploaded?
            Uploaded to IPFS, waiting for transaction
          - elsif batch.pending?
            Sent to Ethereum, awaiting confirmation
          - else
            = batch.aasm_state.titleize

        - if tx = batch.tx

          %dt.col-12.h5 Network Data:

          - confirmations = tx.confirmations
          %dt.col-5 Confirmations
          %dd.col-7
            - if confirmations
              = number_with_delimiter confirmations
            - else
              %span.font-italic Pending
          
          %dt.col-5 Transaction
          %dd.col-7.text-truncate= link_to tx.hash_address, tx

          - if ENV['CHAIN_ID'] == '1'
            %dt.col-5 View on Etherscan
            %dd.col-7.text-truncate= link_to tx.hash_address, "https://etherscan.io/tx/#{tx.hash_address}", target: :_blank
          
          - if ENV['CHAIN_ID'] == '3'
            %dt.col-5 View on Etherscan
            %dd.col-7.text-truncate= link_to tx.hash_address, "https://ropsten.etherscan.io/tx/#{tx.hash_address}", target: :_blank
            

          %dt.col-5 IPFS File
          %dd.col-7.text-truncate
            - url = IpfsServer.gateway_url(batch.ipfs_hash)
            = link_to url, url, target: :_blank

          %dt.col-5 Raw IPFS Link
          %dd.col-7.text-truncate
            - url = "ipfs://#{batch.ipfs_hash}"
            = link_to url, url, target: :_blank

          %dt.col-5 Block
          %dd.col-7.text-truncate
            - if tx.block_number.present?
              = tx.block_number
            - else
              Not confirmed yet

          %dt.col-12.h4 Transaction Data:

          - [:block_hash, :from, :to, :gas, :gas_price, :input, :nonce]. each do |key|

            - if tx[key].present?
              %dt.col-5= key.to_s.titleize
              %dd.col-7.text-truncate= tx[key]
