%p
  Hello
  == @#{@to.username},

%p
  = link_to "@#{@from.username}", account_url(@from.username)
  just reposted to your message.

%p
  Here's your original message:

%p= @repost.repost.body

%p
  = link_to "Click here", message_url(@repost)
  to join the conversation.

%p
  Numa is a distributed social network, built on blockchain technology. You're receiving this email because you signed up
  for Numa, and someone reposted your message.
