= content_for :hero do
  .row.hero
    .container
      .row
        .col-12.text-left
          .space3
          .space3
          %h1.display-1.mt-1 Numa
          .space3
          %h2.display-4 A distributed social network
          .space3
        .col-md-6.col-sm-12
          %p.h4.hero-giveaway
            = succeed ',' do
              = link_to "Open source", "https://github.com/numaverse/numaverse-gateway", target: :_blank
            on Ethereum, with built-in support for federation.
            %br
            No walled gardens here.
.row
  .col-12
    -# .text-center
    -#   %i.display-4.fa.fa-chevron-down
    .space3
    -# .space6
    %h2.display-4 Write something on a blockchain.
    .space6
    .space6
  
    %h3
      It's like Twitter, but with cutting edge distrubuted technologies, so no central entity owns your data.
    
    .space6
    .row
      .col-3
      .col-2.text-center
        %a.text-dark{href: "https://ipfs.io", target: :_blank}
          = image_tag "logos/ipfs-logo-1024-black.png", class: 'img-fluid'
          .space3
          %h3 
            IPFS
      .col-1
      .col-3
        %a{href: 'https://ethereum.org', target: :_blank}
          = image_tag "logos/ethereum.png", class: 'img-fluid'

    .space6
    %h3
      Specifically, we use smart contracts on 
      = link_to "Ethereum", "https://ethereum.org", target: :_blank
      to keep track of your posts. The actual contents
      of your posts are stored on 
      = succeed "," do
        = link_to "IPFS", "https://ipfs.io", target: :_blank
      a distributed file sharing protocol.

    .space6
    .space6
    %hr
    .space6
    .space6
  
    .text-center
      %h2.display-4 Why build this on a blockchain?
      %h4 One word: Transparency.

.space6
.space6
.row.mt-2
  .col-md-4.col-sm-12.mt-2
    .card
      .card-header
        You own your data
      .card-body
        %p
          One of the most common complaints about today's social networks is that they control
          the algorithms that decide what content you get to see. They do this because they need to optimize
          for advertising, but it's not always in the user's best interest.

        %p
          Unfortunately, you can't just take your data and use it in a different app. Your data is owned by a central
          entity, and it's not in their best interest to share it.

        %p
          On Numa, all your data is stored in a public, distributed way, so that it's impossible for any entity to revoke
          your access to your data.
    
  .col-md-4.col-sm-12.mt-2
    .card
      .card-header
        No Lock-In
      .card-body
        %p
          You spend all this time creating content and building a network, but what if you want to switch to a different
          platform? On today's social networks, the data is restricted, so switching platforms means starting from scratch.

        %p
          On Numa, since we can't restrict your data, you can take it wherever you want.

  .col-md-4.col-sm-12.mt-2
    .card
      .card-header
        No Censorship
      .card-body
        %p
          Anyone can spin up their own 
          = succeed "," do
            = link_to "gateway server", "https://github.com/numaverse/numaverse-gateway", target: :_blank
          connect to Ethereum, and create a new message on the network.
          That means that no one can stop you from posting content.

        %p
          If you post illegal content, we reserve the right to take it down from this website, as well as our IPFS nodes.
          But if you run your own servers, there is nothing we can do.
        %p
          If people think that we're too aggressive with our censorship, anyone else can create
          a client that gives access to the rest of the data.

.row
  .col-12
    .space6
    .space6
    %hr
    .space6
    .space6

    %h2.display-4 How does it work?

    .space6

    %h4.font-weight-normal
      When you create an account, message, follow, or favorite on Numa, the data behind that action is
      uploaded to IPFS. Then, you post a reference to that IPFS data using your Ethereum account on a
      = succeed '.' do
        = link_to "smart contract", "https://etherscan.io/address/0xd95f7e9f21de73eddd7861d4e6e54d9d2b7357be", target: :_blank
      
      .space3

      That way, you don't have to actually depend on this website for anything. You can use someone else's
      gateway, or run your own. It's all up to you.

    .space6
    .space6

    %h2.display-4 Is there a cryptocurrency?
    
    .space6

    %h4.font-weight-normal
      You have to spend a little bit of Ethereum to interact with the network. Each smart contract call is
      engineered to use as little 'gas' as possible, so that transaction fees are very small. Each transaction
      uses roughly ~0.00004 ETH, when you follow current normal gas prices. This works out to between $0.01-0.10 USD,
      depending on the price of Ether.

      .space3

      - if ENV['CHAIN_ID'] == '3'
        You're currently on our staging server, which interacts with Ethereum's Ropsten test network.
        You can get free Ethereum on this network by visiting        
        = succeed '.' do
          = link_to "a faucet", "http://faucet.ropsten.be:3001", target: :_blank
        
      - else
        If you'd rather just try it out before spending real Ethereum, head on over to our
        = succeed ',' do
          = link_to "staging server", "https://ropsten.numaverse.com"
        which connects to the Ropsten test network. You can get free Ethereum on this network from
        = succeed '.' do
          = link_to "a faucet", "http://faucet.ropsten.be:3001", target: :_blank

    .space6
    .space6

    %h2.display-4 Who made this?
    
    .space6

    %h4.font-weight-normal
      I'm
      = succeed "," do
        %a{href: "/u/hank"} @hank
      nice to meet you! Here are some facts I'm proud of:

      .space3

      %ul.mt-2
        %li
          I open sourced a toy
          %a{href: "https://github.com/hstove/rbtc_arbitrage"} cross-exchange Bitcoin arbitrage bot
          in 2013.
        %li
          I made
          = succeed ',' do
            %a{href: "http://issuestats.com/", target: :_blank} Issue Stats
          which won the
          = succeed '.' do
            %a{href: "https://github.com/blog/1892-third-annual-data-challenge-winners", target: :_blank}
              2014 Github data challenge
        %li 
          I've worked for
          = succeed ',' do
            %a{href: "https://kadenze.com", target: :_blank} Kadenze
          = succeed ',' do
            %a{href: "https://www.startupweekend.org/", target: :_blank} Startup Weekend
          and
          = succeed "." do
            %a{href: "https://www.dailycred.com/", target: :_blank} DailyCred
        %li
          I ran in a
          %a{href: "https://www.strava.com/activities/1096935376", target: :_blank} few
          %a{href: "https://www.strava.com/activities/1019756321", target: :_blank} awesome
          %a{href: "https://www.strava.com/activities/984912934", target: :_blank} trail
          %a{href: "https://www.strava.com/activities/887702362", target: :_blank} races
          last year.
      
    .space6
    .space6

    %h2.display-4 Can I just sign up already?
    
    .space6

    %h4.font-weight-normal
      I thought you'd never ask. Get started by
      = succeed '.' do
        = link_to "logging in with your Ethereum account", login_path
        